name: New Commit

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true

    - name: Configure project
      run: |
        cmake -B build -DCMAKE_TOOLCHAIN_FILE=toolchain-linux64.cmake

    - name: Build binaries
      run: |
        cmake --build build

    - name: Package binaries
      run: |
        cmake --build build --target package

    - name: Upload binaries
      uses: actions/upload-artifact@v3
      with:
        path: build/gmod-lua-runner-*.tar.gz

  format:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install clang-format
        run: |
          curl https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository 'deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-15 main'
          sudo apt-get update
          sudo apt-get install -y clang-format-15

      - name: Run clang-format
        run: clang-format-15 -style=file -i $(git ls-files | grep -E '\.(h|cpp)$')

      - name: Check for changes
        run: git diff --exit-code

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true

    - name: Configure project
      run: |
        cmake -B build -DCMAKE_TOOLCHAIN_FILE=toolchain-linux64.cmake

    - name: Build binaries
      run: |
        cmake --build build

    - name: Check out GLuaTest
      uses: actions/checkout@v3
      with:
        repository: 'CFC-Servers/GLuaTest'
        path: 'GLuaTest'

    - name: Create the required directory structure
      run: |
        mkdir -p "root/garrysmod/lua/autorun"
        mkdir -p "root/garrysmod/lua/tests"
        ln -Tsv "$(pwd)/GLuaTest/lua/autorun/gluatest.lua" "root/garrysmod/lua/autorun/gluatest.lua"
        ln -Tsv "$(pwd)/GLuaTest/lua/gluatest" "root/garrysmod/lua/gluatest"
        ln -Tsv "$(pwd)/tests" "root/garrysmod/lua/tests/gmod-lua-runner"

    - name: Run tests
      run: |
        GMOD_DIR=root ./build/runner/runner test.lua
