name: New Version Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        target: [linux, linux64, win32, win64]

    steps:
    - name: Install multilib packages
      if: ${{ matrix.target == 'linux' || matrix.target == 'win32' }}
      working-directory: '/tmp'
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get update
        sudo apt-get install -y g++-multilib linux-libc-dev:i386

    - name: Install g++-i686-linux-gnu
      if: ${{ matrix.target == 'linux' }}
      working-directory: '/tmp'
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-i686-linux-gnu

    - name: Install mingw-w64
      if: ${{ startsWith(matrix.target, 'win') }}
      working-directory: '/tmp'
      run: |
        sudo apt-get update
        sudo apt-get install -y mingw-w64

    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true

    - name: Build binaries
      run: |
        export LUA_RUNNER_VERSION=$(git describe --tags | sed 's/^v//')
        echo "LUA_RUNNER_VERSION=${LUA_RUNNER_VERSION}" >> $GITHUB_ENV
        cmake -B build -DLUA_RUNNER_VERSION=${LUA_RUNNER_VERSION} -DCMAKE_TOOLCHAIN_FILE=toolchain-${{ matrix.target }}.cmake
        cmake --build build --target package

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: binaries
        path: build/gmod-lua-runner-*.tar.gz
        retention-days: 1

  release:
    runs-on: ubuntu-24.04
    needs: build

    steps:
    - name: Download built binaries
      uses: actions/download-artifact@v5
      with:
        name: binaries

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        fail_on_unmatched_files: true
        generate_release_notes: true
        token: ${{ secrets.RELEASE_TOKEN }}
        files: |
          gmod-lua-runner-*.tar.gz
